body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--article-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 120px 0 50px;
}

h2,
h4,
h5 {
  font-weight: 300;
  color: var(--header-color);
}
h5 {
  font-size: 16px;
}
p {
  font-size: 14px;
}
span {
  font-size: 14px;
}
:root {
  --background-color: #141414;
  --header-color: #fcf7ff;
  --article-color: #878c8f;
  --role-color: #fc9e4f;
  --company-color: #d96c06;
  --technology-color: #e2aedd;
  --link-color: #2541b2;
}
